<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Easy Stock</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/board/assets/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/board/assets/css/bootstrap.css" rel="stylesheet">

</head>

<body>

    <!-- Page Content -->
    <div class="container">
  
      <!-- Page Features -->
      <div class="row text-center">
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/삼성전자.png" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">삼성전자</h4>
              <!-- <p class="card-text">기술주</p> -->
            </div>
            <div class="card-footer">
              <a href="chart/" class="btn btn-primary" id ="click">Click!</a>
            </div>  
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/sk텔레콤.jpg" alt="" >
            </div>
            <div class="card-body">
              <h4 class="card-title">SK텔레콤</h4>
              <!-- <p class="card-text">대한민국 대표 통신사 중 하나로 다양한 분야의 ICT를 이끄는 기업</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/기업은행.jpg" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">IBK기업은행</h4>
              <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/cj제일제당.png" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">CJ제일제당</h4>
              <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p> -->
            </div>
            <div class="card-footer">
              <a href="chart/" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- /.row -->
      
      <div class="row text-center">
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/kb금융.jpg" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">KB금융</h4>
              <!-- <p class="card-text">야이야이야</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/LG전자.jpg" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">LG전자</h4>
              <!-- <p class="card-text">야이야이야</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/LG화학.jpg" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">LG화학</h4>
              <!-- <p class="card-text">야이야이야</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/하이닉스.png" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">SK하이닉스</h4>
              <!-- <p class="card-text">야이야이야</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
      </div>
      <!-- /.row -->
      <div class="row text-center">
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/S-oil.png" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">S-Oil</h4>
              <!-- <p class="card-text">야이야이야</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/기아차.png" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">기아차</h4>
              <!-- <p class="card-text">야이야이야</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/GS건설.png" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">GS건설</h4>
              <!-- <p class="card-text">야이야이야</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/대우조선해양.jpg" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">대우조선해양</h4>
              <!-- <p class="card-text">야이야이야</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
      </div>
      <!-- /.row -->
      <div class="row text-center">
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/대한항공.png" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">대한항공</h4>
              <!-- <p class="card-text">야이야이야</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/셀트리온.png" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">셀트리온</h4>
              <!-- <p class="card-text">야이야이야</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/아모레퍼시픽.png" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">아모레퍼시픽</h4>
              <!-- <p class="card-text">야이야이야</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/이마트.jpg" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">이마트</h4>
              <!-- <p class="card-text">야이야이야</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
      </div>
      <!-- /.row -->
      <div class="row text-center">
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/한국전력.jpg" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">한국전력</h4>
              <!-- <p class="card-text">야이야이야</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/현대모비스ㅜ.jpg" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">현대모비스</h4>
              <!-- <p class="card-text">야이야이야</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/현대백화점.jpg" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">현대백화점</h4>
              <!-- <p class="card-text">야이야이야</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-top">
              <img class="card-img" src="/static/board/assets/img/현대자동차.png" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">현대자동차</h4>
              <!-- <p class="card-text">야이야이야</p> -->
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Click!</a>
            </div>
          </div>
        </div>
  
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </body>
<script>
  $("#click").click((e) => {
    locatio.href = '/chart/StockChart'
  })

  $(document).ready(function(){
    $("#click").click(function(){
      $("div").css({"background-color" : "yello", "font-size" : "200%"})
    })
  })
</script>
</html>
