<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://code.highcharts.com/stock/highstock.js"></script>
		<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
	</head>
	<body>
		<div id="container" style="height: 400px; min-width: 310px"></div>
		<script>
			function drawchart(){
				var chartdata = [];
				$.getJSON("/static/board/assets/json/삼성전자.json",function(data){
					$.each(data, function(i, item){
						chartdata.push([item.Date, item.Open, item.High, item.Low, item.Close]);
					})
					InnerHtml
				}).done(function(){
					Highcharts.stockChart('container',{
						title: {
							text: '삼성전자'
						},
						rangeSelector: {
							buttons: [
								{type: 'hour',count: 1,text: '1h'}, 
								{type: 'day',count: 1,text: '1d'}, 
								{type: 'all',count: 1,text: 'All'}
							],
							selected: 2,
							inputEnabled: true
						},
						plotOptions: {
							candlestick: {
								downColor: 'blue',
								upColor: 'red'
							}
						},
						series: [{
							name: '삼성전자',
							type: 'candlestick',
							data: chartdata,
							tooltip: {
								valueDecimals: 8
							}
						}]
					});
				});
			}
			drawchart();
		</script>
	</body>
</html>